<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.choice.mapper.StudentMapper" >
	<insert id="save" parameterType="com.choice.entity.Student">
		insert into student(sid,sname,tid,age,sex)
		values (#{sid},#{sname},#{tid},#{age},#{sex})
	</insert>

</mapper>